<md-dialog>
	<form name="addNewPlayerForm">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Добавление игрока</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content style="max-width:800px; max-height:810px;">
		<div>
			<md-input-container>
				<label>First</label>
				<input type="text" ng-model="username.first" required>
			</md-input-container>

			<md-input-container>
				<label>Last</label>
				<input type="text" ng-model="username.last" required>
			</md-input-container>
		</div>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<md-button ng-click="closeDialog();" class="md-raised">
			Cancel
		</md-button>
		<md-button ng-disabled="addNewPlayerForm.$invalid" class="md-raised"
			ng-click="addNewPlayer(username);"
			style="margin-right:20px;">
			Add
		</md-button>

	</div>

	<md-whiteframe class="md-whiteframe-1dp">
    	<span>{{addplayerError}}</span>
  	</md-whiteframe>

	</form>
</md-dialog>