<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Удалить матч</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancelDialog()">
				<span class="icon-cancel"></span>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content style="max-width:800px; max-height:810px;">
		<p>
			Уверен?
		</p>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<md-button class="md-raised"
			ng-click="cancelDialog();"
			style="margin-right:20px;">
			Отмена
		</md-button>
		<md-button class="md-raised"
			ng-click="confirmDialog();"
			style="margin-right:20px;">
			Удалить
		</md-button>
	</div>
</md-dialog>