<md-dialog>
	<form name="addNewPlayerForm">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Новый матч</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancelDialog(true)">
				<span class="icon-cancel"></span>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content style="max-width:800px; max-height:810px;">
		<p>
			Завершить игровой день?
		</p>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<md-button ng-disabled="addNewPlayerForm.$invalid"
			ng-click="cancelDialog(true);"
			style="margin-right:20px;">
			Продолжить
		</md-button>
		<md-button ng-disabled="addNewPlayerForm.$invalid"
			ng-click="confirmDialog();" class="md-raised"
			style="margin-right:20px;">
			Завершить
		</md-button>
	</div>

	</form>
</md-dialog>