<md-dialog>
	<form name="addNewPlayerForm">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Гол!</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancelActivity()">
				<span class="icon-cancel"></span>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content style="max-width:800px; max-height:810px;">
		<div>
			<md-input-container>
			  <md-select ng-model="activityData.goalOwner" placeholder="Забил гол" required>
			    <md-option ng-value="player" ng-repeat="player in players">
			    	{{ player.name }}</md-option>
			  </md-select>
			</md-input-container>

			<!-- <md-input-container>
			  <md-select ng-model="activityData.assistanceOwner" placeholder="Ассистировал">
			    <md-option ng-value="player" ng-repeat="player in players">
			    	{{ player.getName(); }}</md-option>
			  </md-select>
			</md-input-container> -->

		</div>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<md-button class="md-raised"
			ng-disabled="addNewPlayerForm.$invalid || activityData.goalOwner.id === activityData.assistanceOwner.id"
			ng-click="confirmActivity();"
			style="margin-right:20px;">
			Готово
		</md-button>
	</div>

	</form>
</md-dialog>