<md-dialog>
	<form name="addNewPlayerForm">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Новый матч</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancelDialog()">
				<span class="icon-cancel"></span>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content style="max-width:800px; max-height:810px;">
		<div>
			<md-input-container>
			  <md-select ng-model="newMatchData.team_1" placeholder="Команда 1" required>
			    <md-option ng-value="team" ng-if="!checkIfAlreadySelected()" ng-repeat="team in teams">{{ team.name; }}</md-option>
			  </md-select>
			</md-input-container>

			<md-input-container>
			  <md-select ng-model="newMatchData.team_2" placeholder="Команда 2" required>
			    <md-option ng-value="team" ng-if="!checkIfAlreadySelected()" ng-repeat="team in teams">{{ team.name; }}</md-option>
			  </md-select>
			</md-input-container>

			<md-input-container style="display: none;">
			  <md-select ng-model="newMatchData.goalsToWin" ng-init="newMatchData.goalsToWin = 2" placeholder="Голов до победы">
			    <md-option ng-value="num" ng-repeat="num in [2, 1, 3, 4, 5]">{{ num }}</md-option>
			  </md-select>
			</md-input-container>

			<!-- <md-input-container>
			  <md-select ng-model="newMatchData.matchTime" placeholder="Время матча">
			    <md-option ng-value="num" ng-repeat="num in [5, 7, 15, 20, 30]">{{ num }} минут</md-option>
			  </md-select>
			</md-input-container> -->

		</div>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<md-button class="md-raised"
			ng-disabled="addNewPlayerForm.$invalid || (newMatchData.team_1.id === newMatchData.team_2.id)"
			ng-click="startMatch();"
			style="margin-right:20px;">
			Начать
		</md-button>
	</div>

	</form>
</md-dialog>