<md-dialog>
	<form name="addNewPlayerForm">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Пауза</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancelFinish()">
				<span class="icon-cancel"></span>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content style="max-width:800px; max-height:810px;">
		<!-- <div class="md-actions" layout="row"> -->
			<div layout="column">
				<md-button ng-click="cancelFinish();" class="md-primary md-raised">
					<span class="icon-play"></span>Продолжить
				</md-button>
			</div><br>
			<div layout="column">
				<md-button ng-disabled="addNewPlayerForm.$invalid"
					ng-click="confirmFinish();" class="md-raised"
					style="margin-right:20px;">
					<span class="icon-stop"></span>Завершить
				</md-button>
			</div>
		<!-- </div> -->
	</md-dialog-content>

	</form>
</md-dialog>