.acme-navbar-text{
  color: white;
}

.nav-search-input {
	border-style: none none solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 255, 255);
    background-color: transparent;
    color: #fff;
}
    
