<md-toolbar layout="row" layout-align="center center">
	<div flex="15">
		<span class="nav-icon-wrap scoresy-nav-back" 
			ng-click="navCtrl.navigateBack()"
			ng-if="navCtrl.navBack" ng-hide="navCtrl.ifSearch">
	        <span class="icon-angle-left"></span>{{navCtrl.ifNavBack}}
	    </span>
	</div>

	<div flex ng-if="!navCtrl.ifSearch">
		<span>{{title}}</span>
	</div>

	<div flex="15" ng-click="navCtrl.toggleSidenav();" ng-if="navCtrl.ifSidenav">
		<span class="icon-menu"></span>
	</div>

	<div flex layout-align="center center" layout="row" ng-if="navCtrl.ifSearch">
		<input type="text" ng-model="search" ng-change="navCtrl.applySearch(search);"
			   placeholder="Поиск" class="nav-search-input">

		<span ng-click="search = ''; navCtrl.clearSearch();" class="icon-cancel-1"></span>

		<span class="nav-icon-wrap txt-center" ng-if="navCtrl.ifSearch"
			ng-click="search();">
	        <span class="icon-search"></span>
	    </span>
	</div>

</md-toolbar>