<navbar if-search="playersListShown" nav-back="chooseTeams"></navbar>

<section class="main-wrap">
	<div layout="column">
		<h4 ng-if="playersListShown" class="no-margins" 
			layout="row" layout-align="space-between center">

			<span>
				Выбрано
				<span>{{getStringForSelectedNumber(teamSelected)}}
				</span>
			</span> 
			
			<md-button ng-click="addNewPlayerDialog($event);">
				Добавить нового
			</md-button>
		</h4>

		<md-toolbar ng-repeat="team in teamsChosen" ng-if="!playersListShown" 
			ng-click="addPlayersToTeam(team);"
			class="team-entry"
			ng-style="{background: team.color}" ng-class="{'expanded' : team.isExpanded}">

			<div layout="row" layout-align="space-between center" class="padding-left20 padding-right20">
				
				{{team.name}}

				<span ng-if="team.getNumberOfAddedPlayers() > 0">
					<span class="players-count-dd" ng-click="toggleCollapseForTeam(team); $event.stopPropagation()">
						<span>{{getStringForSelectedNumber(team);}}</span> 
						<span class="icon-down-dir"></span>
						<span class="icon-up-dir"></span>
					</span>
				</span>

				<span class="add-players-circle">
					<i class="icon-user-add"></i>
				</span>

			</div>
			<md-content flex layout-padding style="margin-top: 5px;"
				class="players-selected-list-wrapper"
				ng-click="$event.stopPropagation();">
				<ul class="players-selected-list">
					<li ng-repeat="player in team.players">
						{{player.name}}

						<span class="icon-cancel-1"
							  ng-click="removePlayer(team, player);">
						</span>
					</li>
				</ul>
			</md-content>
		</md-toolbar>

		<div ng-repeat="player in allPlayers | filter:search"
			 class="player-entry" ng-click="addPlayer(player);"
			 ng-if="playersListShown" ng-style="getSelectedStyle(player);">
			{{player.username}}
		</div>
	</div>
	
	
</section>


<button class="md-fab md-button md-default-theme scoresy-main-fab scoresy-main-fab-next"
	ng-click="goToMatchesList();" ng-if="!playersListShown">
	<span class="icon-angle-right"></span>
</button>

<button class="md-fab md-button md-default-theme scoresy-main-fab scoresy-main-fab-next"
	ng-click="completeSelection();" ng-if="playersListShown">
	<span class="icon-ok"></span>
</button>