<navbar nav-back="createContest" if-search="flase"></navbar>

<section class="main-wrap">
	<div layout="column">

		<md-toolbar ng-repeat="team in teamsChosen"
			class="team-entry"
			ng-style="{background: team.color}">

			<div layout="row" layout-align="space-between center" class="padding-left20 padding-right20">
				{{team.name}}

				<span class="remove-circle"
					ng-click="removeTeam(team, $index);">
					<i class="icon-cancel"></i>
				</span>
			</div>

		</md-toolbar>
		<br>

		<span>All Teams</span>

		<md-toolbar ng-repeat="team in allTeams track by $index" ng-if="!_ifTeamChosen(team)"
			class="team-entry" ng-click="chooseTeam(team, $index);"
			ng-style="{background: team.color}">

			<div layout="row" layout-align="space-between center" class="padding-left20 padding-right20">
				{{team.name}}

				<span class="select-circle"></span>
			</div>
			
		</md-toolbar>
	</div>
</section>


<button class="md-fab md-button md-default-theme scoresy-main-fab scoresy-main-fab-next"
	ng-click="goAddPlayers();" ng-if="teamsChosen.length > 1">
	<span class="icon-angle-right"></span>
</button>