<navbar></navbar>

<div layout="column" layout-margin layout-padding>
	a list of passed contests are here

	
</div>
	

<button class="md-fab md-button md-default-theme scoresy-main-fab scoresy-main-fab-next"
	ng-click="contest.createContest();">
	<span class="icon-angle-right"></span>
</button>