<navbar></navbar>

<div layout="column" layout-margin layout-padding>
	<div flex>
	  	<md-input-container>
	  		<label>Title</label>
	  		<input type="text" ng-model="contest.title">
		</md-input-container>
	</div>

	<div flex>
		<md-datepicker ng-model="contest.date"></md-datepicker>
	</div>
	<div flex>
		<input type="time" ng-model="contest.time">
	</div>
	
</div>
	

<button class="md-fab md-button md-default-theme scoresy-main-fab scoresy-main-fab-next"
	ng-click="contest.createContest();">
	<span class="icon-angle-right"></span>
</button>