<navbar nav-back="addPlayers" if-search="playersListShown" if-sidenav="true"></navbar>

<div layout="column">
	
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="sidenav">
	  <md-toolbar ng-click="toggleSideNav();">
        <h1 class="md-toolbar-tools">
        	<span class="icon-angle-right"></span>
    	</h1>
      </md-toolbar>
      <md-content layout-padding>
      	<span ng-repeat="team in teams">
      		{{team.name}} - {{team.contestPoints}}<br>
      	</span>

        <md-button ng-click="finnishContest();" class="md-primary">
        	Закончить игру
        </md-button>
      </md-content>
</md-sidenav>
</div>

<section class="main-wrap">
	<div layout="column">

		<h4 ng-if="allMatches.length === 0" class="no-margins" 
			layout="row" layout-align="space-between center">
			Нет сыграных матчей
		</h4>

		<md-content flex layout-padding>
			<md-whiteframe class="md-whiteframe-1dp match-list-item" ng-repeat="match in allMatches">
				<span class="match-list-item-score">
					{{match.team_1.name}} {{match.getTeam1Score()}} : 
					{{match.getTeam2Score()}} {{match.team_2.name}}
				</span><br>

				<ul class="match-list-item-players">
					<li ng-repeat="goalOwner in match.getTeam1GoalsOwners()">
						<span class="icon-t-shirt"
							  ng-style="{color: match.team_1.color}"></span>
						{{goalOwner.name}}
					</li>
					<li ng-repeat="goalOwner in match.getTeam2GoalsOwners()">
						<span class="icon-t-shirt" ng-style="{color: match.team_2.color}">
						</span>
						{{goalOwner.name}}
					</li>
				</ul>

				<div class="match-list-item-controll">
					<!-- <span ng-repeat="goalOwner in match.getTeam1GoalsOwners()">
					</span> -->

					
					
					<!-- <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="editMatch(match);">
						<span class="icon-pencil"></span>
			        </md-button> -->

					<md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="deleteMatch(match);">
						<span class="icon-cancel"></span>
			        </md-button>
				</div>
				
		</md-content>
	</div>
</section>


<button class="md-fab md-button md-default-theme scoresy-main-fab scoresy-main-fab-next"
	ng-click="createNewMatchDialog();">
	<span class="icon-plus"></span>
</button>