<navbar if-nav-back="false" if-search="playersListShown"></navbar>

<section class="main-wrap">
	<div layout="row">
		<div flex class="txt-center">
			<span>{{team1.name}}</span>
			 <md-divider></md-divider>
			
			<md-whiteframe class="md-whiteframe-1dp score-pane" ng-style="{background: team1.color}"
				ng-click="scoreTheGoal(1)"
				layout layout-align="center center">
			    <span>{{getTeam1Score()}}</span>
			</md-whiteframe>
		</div>
		<div flex class="txt-center">
			<span>{{team2.name}}</span>
			 <md-divider></md-divider>

			<md-whiteframe class="md-whiteframe-1dp score-pane" ng-style="{background: team2.color}"
				ng-click="scoreTheGoal(2)"
				layout layout-align="center center">
			    <span>{{getTeam2Score()}}</span>
			</md-whiteframe>
		</div>
	</div>
</section>

<button class="md-fab md-button md-default-theme scoresy-main-fab scoresy-main-fab-next"
	ng-click="pauseMatch();">
	<span class="icon-pause"></span>
</button>