<navbar></navbar>

<form name="userLogin" ng-submit="login.login();">
	<div layout="column" layout-margin layout-padding>
			<md-input-container>
			  <label>Email:</label>
			  <input type="email" ng-model="login.email" autocomplete required>
			</md-input-container>

			<md-input-container>
			  <label>Password:</label>
			  <input type="password" ng-model="login.password" required>
			</md-input-container>

			<md-toolbar class="md-accent" ng-if="loginError">
		      <h4 class="md-toolbar-tools">
		        <span>{{loginError}}</span>
		      </h4>
		    </md-toolbar>
	</div>


	<button ng-disabled="userLogin.$invalid" type="submit"
		class="md-fab md-button md-default-theme scoresy-main-fab scoresy-main-fab-next">
		<span class="icon-login"></span>
	</button>
</form>