/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import url(../assets/fontello/css/fontello.css);
@import url(components/contest/contest);
@import url(components/contest/styles/match);
@import url(commonStyles/buttons);
@import url(commonStyles/helpers);

html {
  font-family: 'Roboto Slab', serif;
}

md-input-container > md-select, md-option {
	text-align: center;
	height: 60px;
	font-size: 24px;
}

md-option {
	height: 70px !important;
	.md-text {
		font-size: 24px !important;
	}
}

md-dialog {
	min-width: 340px;
}

[layout=row] {
  flex-direction: row;
}

[ui-view] {
  height: 100%;
}

*.txt-center {
  text-align: center;
}

*.txt-left {
  text-align: left !important;
}

.main-wrap {
	padding: 10px;
}

body {
	/*background: red;*/
  max-width: 500px !important;
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
