.team-entry {
	margin: 2px;
	line-height: 60px;
	vertical-align: middle;
	overflow: hidden;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);

	.select-circle, .remove-circle, .add-players-circle {
		width: 35px;
		height: 35px;
		display: inline-block;
		background: #fff;
		border-radius: 50%;
	    text-align: center;
    	line-height: 34px;

		i {
			color: #fff;
		}
	}

	.remove-circle, .add-players-circle {
		background: #000;
	}

	.players-count-dd {
		height: 80%;
		background: rgba(78, 78, 78, 0.5);
		padding: 10px;
	    border-radius: 5px;
	    font-size: 16px;
	}

	.icon-down-dir {
		display: inline;
	}
	.icon-up-dir {
		display: none;
	}

	&.expanded {
		.players-selected-list-wrapper {
			display: block;
		}

		.icon-down-dir {
			display: none;
		}
		.icon-up-dir {
			display: inline;
		}
	}
}

.players-selected-list-wrapper {
	display: none;
}

.players-selected-list {
	color: #000;
	list-style: none;
    padding: 0 10px;
    margin: 0;

		li {
			height: 40px;
			font-size: 18px;
			line-height: 40px;
			span {
				float: left;
				margin-right: 20px;
			}
		}
}

.player-entry {
	margin: 3px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	padding: 0 10px;
	background: #ddd;
}

.match-list-item {
	width: 100%;
	height: 92px;
	display: block;
	text-align: center;
	margin-bottom: 10px;

	.match-list-item-score {
		color: #fff;
		display: inline-block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		background: #6DA06D;
	}
	.match-list-item-controll {
		float: right;
	}

	.match-list-item-players {
		float: left;
		text-align: left;
		
		li {
			list-style: none;
		}
	}
	
}


