.md-button.md-fab {

	&.scoresy-main-fab {
		position: absolute;
		top: 80%;
		right: 10%;
		background: rgb(16,108,200) !important;

		span {
			color: #fff;
		}
		&.scoresy-main-fab-next {
			color: #969090;
			border-top: 1px solid #ccc;
			background-color: #fff;
			font-size: 22px;
		}
	}

}

.scoresy-nav-back {
	font-size: 26px;
	margin-top: 5px;
}

.nav-icon-wrap {
	cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 60px;
    vertical-align: super;
    margin-top: 0;
    float: right;
}