
.icon-soccer-ball:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-user-add:before { content: '\e802'; } /* '' */
.icon-user-delete:before { content: '\e803'; } /* '' */
.icon-child:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-minus:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e80a'; } /* '' */
.icon-upload:before { content: '\e80b'; } /* '' */
.icon-reply:before { content: '\e80c'; } /* '' */
.icon-forward:before { content: '\e80d'; } /* '' */
.icon-login:before { content: '\e80e'; } /* '' */
.icon-logout:before { content: '\e80f'; } /* '' */
.icon-cog:before { content: '\e810'; } /* '' */
.icon-cog-alt:before { content: '\e811'; } /* '' */
.icon-menu:before { content: '\e812'; } /* '' */
.icon-sliders:before { content: '\e813'; } /* '' */
.icon-filter:before { content: '\e814'; } /* '' */
.icon-angle-right:before { content: '\e815'; } /* '' */
.icon-angle-left:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e817'; } /* '' */
.icon-search-1:before { content: '\e818'; } /* '' */
.icon-search-2:before { content: '\e819'; } /* '' */
.icon-down-dir:before { content: '\e81a'; } /* '' */
.icon-down-open-mini:before { content: '\e81b'; } /* '' */
.icon-up-dir:before { content: '\e81c'; } /* '' */
.icon-up-open-mini:before { content: '\e81d'; } /* '' */
.icon-cancel-1:before { content: '\e81e'; } /* '' */
.icon-pause:before { content: '\e81f'; } /* '' */
.icon-play:before { content: '\e820'; } /* '' */
.icon-stop:before { content: '\e821'; } /* '' */
.icon-cinema:before { content: '\e822'; } /* '' */
.icon-pencil:before { content: '\e823'; } /* '' */
.icon-pencil-1:before { content: '\e824'; } /* '' */
.icon-pencil-2:before { content: '\e825'; } /* '' */
.icon-pencil-3:before { content: '\e826'; } /* '' */
.icon-t-shirt:before { content: '\e827'; } /* '' */